// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
section.my-cart {
  border-style: solid;
  padding: 50px;
}

section.payment-info {
  padding: 50px;
}

div.product-quantity {
width:50px;  

}
