// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.homepage-cards h4,
.homepage-cards p {
  font-family: 'Indie Flower', cursive;
}

.homepage-card-image {
  text-align: center;
}

.homepage-subtitle {
  padding-bottom: 10px;
}

.site-title,
.site-nav {
  display: inline-block;
}

.site-title{
  float: left;
}

.site-nav {
  text-align: right;
  vertical-align: top;
  float: right;
}
