// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.shop-keepers {
  text-align: center;
}

ul {
  text-align: center;
  list-style: none;
  display: inline;
}

main {
  padding: 50px;
}
