<h1>My Cart</h1>

<% @order.order_items.each do |item| %>
    <% id = item.product_id %>
    <% product = Product.find(id) %>
  <%= product.name %>
  <ul>
    <li>Price: <%= product.price %></li>
    <li> Quantity: <%= item.quantity %> </li>
  </ul>
<% end %>

<%= render partial: "complete_form" %>
