<h1><%= @product.name %></h1>

<p>
  Categories: <%= @product.categories.length %>
</p>
<p>
  <ul>
    <% @product.categories.each do |category| %>
    <%= category.name %>
    <% end %>
  </ul>

</p>
